<div class="home-container">
  <div
    class="position-relative d-flex justify-content-center align-items-center h-100"
  >
    <div class="d-block">
      <h1 class="hm-title">MARWAN</h1>
      <h1 class="hm-title-outline">EL HOSENY</h1>
    </div>

    <!-- <ngx-particles [id]="id" [options]="particlesOptions"></ngx-particles> -->
    <!-- <node-cluster
      class="node-cluster-1 position-absolute"
      [nodeCount]="10"
    ></node-cluster> -->
    <!-- <node-cluster class="node-cluster-2 position-absolute"></node-cluster>

    <node-cluster class="node-cluster-3 position-absolute"></node-cluster> -->

    <div class="chev-left-container position-absolute">
      <chev-up> </chev-up>
    </div>
    <div class="chev-mid-container position-absolute">
      <chev-up size="lg"> </chev-up>
    </div>
    <div class="chev-right-container position-absolute">
      <chev-up> </chev-up>
    </div>
  </div>
</div>
