/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
// @import "./app/themes/dark-violet.theme.scss";
@import "./app/themes/white-minimal.theme.scss";

@font-face {
  font-family: audiowide;
  src: url("./assets/fonts/Audiowide-Regular.ttf");
}

@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins-semibold;
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: playfair;
  src: url("./assets/fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: playfair-semibold;
  src: url("./assets/fonts/PlayfairDisplay-SemiBold.ttf");
}
@font-face {
  font-family: playfair-italic;
  src: url("./assets/fonts/PlayfairDisplay-Italic.ttf");
}
html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: poppins-semibold;
}
