<div class="header-container row">
  <div class="header-logo my-auto col-md-6 col-sm-12">
    <span class="text-white logo-text-shadow">MARWAN</span>
  </div>
  <div class="nav-container col-md-4 col-sm-12">
    <div class="row w-100">
      <div class="nav-tab col-md-3">
        <span class="nav-tab-text"> Home </span>
      </div>
      <div class="nav-tab col-md-3">
        <span class="nav-tab-text"> About </span>
      </div>
      <div class="nav-tab col-md-3">
        <span class="nav-tab-text"> Blog </span>
      </div>
      <div class="nav-tab col-md-3">
        <span class="nav-tab-text"> Contact </span>
      </div>
    </div>
  </div>
</div>
